<%= form_for(income_log) do |f| %>
  <% if income_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(income_log.errors.count, "error") %> prohibited this income_log from being saved:</h2>

      <ul>
      <% income_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :session_id %>
    <%= f.number_field :session_id %>
  </div>

  <div class="field">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>

  <div class="field">
    <%= f.label :money_made %>
    <%= f.text_field :money_made %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
