<%= form_for(incomelog) do |f| %>
  <% if incomelog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incomelog.errors.count, "error") %> prohibited this incomelog from being saved:</h2>

      <ul>
      <% incomelog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :job %>
    <%= f.text_field :job %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
