<html>
<p id="notice"><%= notice %></p>

<h1>Income Hisoty Log</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Job</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomelogs.each do |incomelog| %>
      <tr>
        <td><%= incomelog.user_id %></td>
        <td><%= incomelog.job %></td>
        <td><%= incomelog.amount %></td>
        <td><%= link_to 'Show', incomelog %></td>
        <td><%= link_to 'Edit', edit_incomelog_path(incomelog) %></td>
        <td><%= link_to 'Destroy', incomelog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incomelog', new_incomelog_path %>
<%= link_to 'Home Page', root_url %>
</html>
<style>
html{
	text-align: center;
}
</style>
